.venv/
__pycache__/
*.pyc
.env
.vscode/
.idea/
*.DS_Store
*.tmp
*.temp
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/synthetic/*
!data/synthetic/.gitkeep
.ipynb_checkpoints/
